{% extends 'base.html.twig' %}

{% block body %}


<h2>Liste des films : </h2>

    {% for film in films %}

        <h3><a href="{{ path('film') }}"> • {{ film.name }} </a></h3>
        <p> - Description : {{ film.description }}</p>
        <p> - Note : {{ film.note }} / 10</p>
        <p> - {{ film.votersNumber }} personnes ont voté.</p>

    {%  endfor %}



{% endblock body%}